## files to ignore
*.tar.gz
*.fa
*.fa.gz
*.fna
*.fna.gz
*.fai
*.2bit
*.gtf
*.gff
*gff3.gz
*.gff3
*.txDb
*.sqlite
*.txt
*.chrom
*.bed
index

## ignore STARsolo files
Genome
exon*
gene*
SA*
transcr*
sjdb*

## directories to ignore
output/genomes/hg38/
output/genomes/mm10/
